{% extends 'MelodySiteBundle::base.html.twig' %}

{% set namespace = _self.getTemplateName()|split(':') %}
{% block file %}{{ namespace[1] }}/{{ namespace[2] }}{% endblock %}

{% block body %}
    <a href="{{ path('page_index') }}"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Back to the list</a>
    <h1>{{ page.title }}</h1>
    <div>{{ page.text }}</div>
{% endblock %}
